html{
	background-color: #e9ebca !important;
}

div.ui-content{
	background-color: #e9ebca;	
	height: 100%
}

.ui-body-c{
	color: #000000;
	text-shadow: 0 1px 0;
}

.ui-title{
	background-color: #e9ebca !important;

}

.ui-header{
background-color: #e9ebca !important;
border-color: #000000;
}

.ui-bar-a{
	text-shadow: 0 0px 0 !important;
	background-color: #e9ebca !important;
}

div#header{
background-color: #e9ebca;		
margin: 0;
}

div#bottom{
	background-color: #FFFFFF;
}